node_modules/.package-lock.json
nginx/cache
node_modules/*
node_modules/.*
transcoded/*
!transcoded/.gitkeep
uploads/*
!uploads/.gitkeep
node_modules/.package-lock.json
.env.local
.env
.venv
pytorch-env
pyrightconfig.json
